@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trochut:wght@700&display=swap');

main {
	width: 960px;
	margin: 50 auto;
}

article {
	width: 580px;
	float: left;
	margin-left: 900px;
}

aside {
	width: 300px;
	float: left;
	min-height: 10px;
	position: absolute;
}

article,aside {
	padding: 50px;
}

ul.verticle-menu {
	list-style-type: none;
	padding: 0;
}

li a {
	font-size: 10px;
	color: purple;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}

li a:hover{
	background-color: rgba(0, 100, 255, 0.7);
}

.container {
	width: 900px;
	margin: 0 auto;
	padding: 75px;
}

.polaroid {
	position: relative;
	width: 240px;
	display: inline-block;
	margin: 20px;
}

.polaroid p {
	font-family:'Anton', cursive;
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	font-size: 18px;

}


#explore {
  font-family: 'Anton';
  color: blue;
}

#logo {
	font-family: 'Trochut';;
}

header {
	font-size: 50px;
}

 .line { 
 	width: 20px; 
 	height: 4px; 
 	border-bottom: 1px solid black; 
 	position: relative; 
 } 

 h1 {
 	font-size: 40px;
 }

 * {
	box-sizing: border-box;
}
/* when you float you need a clearfix on the container element to make sure that it wraps around the floated items as expected */

.clearfix::after {
	display:block;
	clear:both;
	/* ensures cross browser and legaxcy browser compatability */
	height: 0;
	font-size:0;
	content:'';
	/* super paranoid mode */
	display: hidden;
}

div,header,section,article,footer,main {
	min-height: 100px;
	/* RGBA (alpha - transparency) */
	background-color: rgba(0, 100, 255, 0.2);
	
}