@import url('https://fonts.googleapis.com/css2?family=Trochut:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}

body {
  background: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.animation-container {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.2, 0, 0, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.logo {
  color: #000;
  font-family: 'Trochut';
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
  padding: 0 2rem;
}

.mail {
  color: blue;
  font-family: 'Anton';
  font-size: 30px;
  font-weight: bold;
}

nav button {
  font-family: 'Anton';
  font-size: 40px;
  color: #000;
  padding: 0 1.5rem;
  background: none;
  border: none;
}

nav button:hover {
  color: #fff;
  background: none;
  border: none;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

header {
  position: absolute;
  transform: translateY(-12vw);
  font-family: 'Anton';
  font-weight: bold;
  font-size: 70px;
  letter-spacing: 5px;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #000;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 45px;
}

.column-left p {
  margin-bottom: 1rem;
  width: 550px;
  font-size: 22.5px;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 15px;
  border: none;
  color: #fdcc04;
  background: #000;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #fff;
  color: #000;
}

.column-container {
  display: flex;
}

.column-right {
  justify-content: center;
  align-items: center;
}

.image-box {
  position: absolute;
  background-color: rgba(253, 204, 4, 0.2);
  border: 7px solid rgba(253, 204, 4, 0.2);
  border-radius: 20px;
  height: 400px;
  width: 700px;
  z-index: -1;
}

.center-image {
  width: 350px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 70vh;
  margin: 0 auto;
  margin: 15vh 12.5vw;
  margin-top: 15vh;
  animation: slide 0.3s ease-in-out;
  flex-shrink: 0;
}

.arrow {
  padding: 35px;
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  background-color: transparent;
}

.arrow-left {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.arrow-right {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.arrow-up {
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  transform: rotate(90deg);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.arrow-down {
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  transform: rotate(270deg);
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.glass{
    background: linear-gradient(135deg, rgba(253, 204, 4, 0.1), rgba(253, 204, 4, 0));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:7px solid rgba(253, 204, 4, 0.5);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
